:root {
  --primary-black-color: #2e2f42;
  --primary-white-color: #ffffff;
  --primary-accent-color: #434455;
  --secondary-accent-color: #4d5ae5;
  --active-color: #404bbf;
  --secondary-white-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-accent-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.link:active {
  color: var(--active-color);
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**-----------------HEADER-------------------*/

.header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
  text-transform: uppercase;
  margin-right: 76px;
}

.span-logo-header {
  color: var(--primary-black-color);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--active-color);
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-accent-color);
  padding: 24px 0;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--active-color);
}

/**-----------------HERO-------------------*/

.hero {
  background-color: var(--primary-black-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  text-align: center;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-color);
}

/**-----------------VALUES-------------------*/

.values {
  padding: 120px 0;
}

.values-list {
  display: flex;
  column-gap: 24px;
}

.values-item {
  width: calc((100% - 72px) / 4);
}

.values-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
}

.values-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-----------------DOING-------------------*/

.doing {
  padding-bottom: 120px;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.doing-item {
  width: calc((100% - 48px) / 3);
}

/**----------------TEAM-------------------*/

.team {
  background-color: var(--secondary-white-color);
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-container {
  padding: 32px 0;
}

.team-item {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(0.18, 0.18, 0.25, 0.07);
  width: calc((100% - 72px) / 4);
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/**----------------FOOTER-------------------*/

.footer {
  background-color: var(--primary-black-color);
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
  margin-bottom: 16px;
  display: block;
}

.span-logo-footer {
  color: var(--secondary-white-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-white-color);
  width: 264px;
  height: 72px;
}

/**----------------PORTFOLIO-------------------*/

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.projects-btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.projects-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-accent-color);
  background-color: var(--secondary-white-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.projects-button:hover,
.projects-button:focus {
  color: var(--primary-white-color);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.projects-list-container {
  padding: 32px 0px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-accent-color);
}
